body {
  background-color: #0a120f;
  
  /* Additional styling starts below. */
  
  font-family: 'Lexend Deca', sans-serif;
  width: 800px; 
  margin: auto;
  color: #c4f9e3;
}

table {
  padding: 10px;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

td, th {
  border: none;
  padding-top: 20px;
}